.vscode/

/target/
/Cargo.lock

# Generated .wat and .wimpl files (for debugging) of .wasm test binaries can be very large.
/tests/wasm/**/*.wat
/tests/wasm/**/*.wimpl
/tests/**/*.wasm.wat

# Callgraph evaluation table.
/data.csv

# Wimpl test outputs
/out.wimpl

# Data from profiling / performance analysis.
/flamegraph*.svg
/perf.data*

# Ignore all the hidden files - these are tests in Michelle's dce-examples directory that didn't work 
.*

# Ignore all node_modules in tests 
/tests/dce-examples/**/node_modules

# Ignore all analysis data and output files for all tests - this can be gernerated by running ./run-tests.sh
/tests/dce-examples/**/analysis_data
/tests/dce-examples/**/output_files
/tests/dce-examples/**/*.stdout.txt
/tests/dce-examples/**/dce.wasm 

# some manual investigation/output/note files from Daniel
/Figma type inference problems.wimpl
/call_indirect-idx-after-map.txt
/call_indirect-idx-expr.txt
/param-usages.txt
