.vscode/

/target/
/Cargo.lock

# .wat files of .wasm test binaries can be very large.
/tests/wasm/*.wat

# Callgraph evaluation table.
/data.csv

# Data from profiling / performance analysis.
/flamegraph*.svg
/perf.data*
