.vscode/

/target/
/Cargo.lock

# Generated .wat and .wimpl files (for debugging) of .wasm test binaries can be very large.
/tests/wasm/**/*.wat
/tests/wasm/**/*.wimpl
/tests/**/*.wasm.wat

# Callgraph evaluation table.
/data.csv

# Wimpl test outputs
/out.wimpl

# Data from profiling / performance analysis.
/flamegraph*.svg
/perf.data*

# Ignore all the hidden files
.*

# Ignore all node_modules in tests 
/tests/dce-examples/**/node_modules

# Ignore all dce.wasm, lowerbound-reachable-functions.txt, reachable-exports.txt, .stdout.txt and .json files in dce tests  
/tests/dce-examples/**/*.stdout.txt
/tests/dce-examples/**/analysis-stats.json
/tests/dce-examples/**/dce.wasm 
/tests/dce-examples/**/call_indirect_load_const_addr.json
/tests/dce-examples/**/lowerbound-reachable-functions.txt 
/tests/dce-examples/**/reachable-exports.txt 
/tests/dce-examples/**/callsite_cg_static.txt
/tests/dce-examples/**/callsite_cg_dynamic.txt

# some manual investigation/output/note files from Daniel
/Figma type inference problems.wimpl
/call_indirect-idx-after-map.txt
/call_indirect-idx-expr.txt
/param-usages.txt
