# Rust/Cargo
/target/

# Wasabi output
out/

# IntelliJ Rust IDE
/.idea/
/wasabi.iml

# vim
*~
*.swp

# generated browser tests
*_out/

#.wat files of tests  
lib/wasm/tests/wimpl-USENIX/**/*.wat
lib/wasm/tests/wimpl-filtered-binaries/**/*.wat

#evaluation csv 
lib/wasm/data.csv
