[submodule "binaryen"]
	path = binaryen
	url = https://github.com/WebAssembly/binaryen.git
[submodule "wabt"]
	path = wabt
	url = https://github.com/WebAssembly/wabt.git
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/juj/emsdk.git

